$light-body-text: #000;
$light-emph-text: #333;
$light-dimmed-text: #6a6a6a;

$dark-body-text: transparentize(#fff, 0.4);
$dark-emph-text: transparentize(#fff, 0.13);
$dark-dimmed-text: transparentize(#fff, 0.5);

$light-primary: #DB0021;
$dark-primary: rgb(255, 55, 85);

$light: (
  "body-bg": #fff,
  "tag-bg": #fafafa,
  "tag-fg": #00579E,
  "surface-bg": #fff,
  "surface-border": #eee,
  "surface-hover-bg": #fff,
  "main-bg": #f8f8f8,
  "body-fg": #000,
  "input-border": rgb(206, 212, 218),
  "light-border": rgb(206, 212, 218),
  "input-placeholder": rgba(5, 5, 5, .3),
  "input-bg": #fff,
  "blue": rgb(0, 122, 255),
  "grey": #eee,
  "yellow": rgb(255, 204, 0),
  "green": rgb(40, 205, 64),
  "orange": rgb(255, 149, 0),
  "pink": rgb(255, 45, 85),
  "brown": rgb(162, 132, 94),
  "red": rgb(255, 59, 48),
  "error": rgb(255, 59, 48),
  "purple": rgb(175, 82, 222),
  "link-color": $light-primary,
  "link-visited": darken(rgb(175, 82, 222), 20%),
  "primary": $light-primary,
  "placeholder": #aaa,
  "emph-text": $light-emph-text,
  "dimmed-text": $light-dimmed-text,
  "code-bg": #f4f4f4,
  "code-fg": #14806A
);

$dark: (
  "body-bg": rgb(19,18,23),
  "surface-fg": #9aa0a7,
  "surface-bg": #242526,
  "tag-bg": #333,
  "tag-fg": #fff,
  "surface-border": #242526,
  "surface-hover-bg": #2c2c2c,
  "input-bg": rgb(58, 59, 60),
  "input-border": #444,
  "light-border": #444,
  "input-placeholder": $dark-dimmed-text,
  "main-bg": #181818,
  "body-fg": #dad9e0,
  "blue": rgb(10, 132, 255),
  "grey": #444,
  "brown": rgb(162, 132, 94),
  "green": rgb(50, 215, 75),
  "orange": rgb(255, 159, 10),
  "yellow": rgb(255, 214, 10),
  "pink": rgb(255, 55, 95),
  "red": rgb(255, 69, 58),
  "error": rgb(255, 69, 58),
  "purple": rgb(191, 90, 242),
  "link-color": $dark-primary,
  "link-visited": lighten(rgb(191, 90, 242), 10%),
  "primary": $dark-primary,
  "placeholder": $dark-dimmed-text,
  "emph-text": $dark-emph-text,
  "dimmed-text": $dark-dimmed-text,
  "code-bg": #000,
  "code-fg": #ffb000
);

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
