.blog_feed__entry
  margin-bottom: 2rem
  p
    margin: 0

p.blog_feed__entry__meta
  margin-bottom: -.2em

.blog_feed__entry__date
  color: var(--dimmed-text)

a.blog_feed__entry__title
  +fluid-type(450px, 1024px, 22px, 32px)
  display: block
  line-height: 1.45
  text-decoration: none
  color: var(--emph-text)
  font-weight: 800
  margin-bottom: .5rem

  &:visited
    color: var(--emph-text)
  &:hover
    color: var(--link-color)

.blog
  &__content
    +fluid-type(320px, 1600px, 17px, 24px)
    line-height: 1.5

  &__date
    text-align: center
    font-size: 1.15em
    margin: -.5rem 0
