.button
  color: lighten($primary, 30%)
  text-decoration: none
  display: inline-block
  padding: .6em 1.25em
  border: 2px solid $primary
  border-radius: 10px
  transition: .2s ease-in-out

  &:hover
    background: transparentize(lighten($primary, 10%), .8)

  &:visited
    color: lighten($primary, 30%)
