.header
  display: flex
  justify-content: space-between
  width: 100%
  height: $header-height
  line-height: $header-height
  +mobile
    height: $mobile-menu-unit
    line-height: $mobile-menu-unit
    border-bottom: 1px solid currentColor
  position: fixed
  top: 0
  background-color: #fff
  z-index: 10
  padding: 0 2rem
  +mobile
    padding: 0 20px
  box-sizing: border-box
  transition: .2s ease-in-out

  &--opaque
    background: white
    color: rgba(0,0,0,.67)

  &__branding
    font-size: 2em
    z-index: 11

  &__navlink, &__cta
    transition: .2s ease-in-out
    padding: 0 1em

    +mobile
      padding: 0 20px
      height: $mobile-menu-unit
      line-height: $mobile-menu-unit

  &__cta
    height: 50px
    line-height: 50px
    +gt-mobile
      align-self: center

  &__menu
    display: flex

    +mobile
      background: white
      text-align: right
      flex-direction: column
      position: fixed
      top: $mobile-menu-unit
      left: 0
      right: 0
      bottom: 0
      z-index: 10
      align-items: flex-end
      font-size: 1.2rem
      opacity: 0
      pointer-events: none
      transition: .2s ease-in-out

    +gt-mobile
      &:hover
        a:not(:hover)
          opacity: .5

  +mobile
    &--opaque &__menu
      background: white

  a
    color: inherit
    text-decoration: none

.header--menu-open
  .header__menu
    opacity: 1
    pointer-events: auto
