$landing-overlay-color: rgba(0,0,0,.35)
$landing-overlay: linear-gradient($landing-overlay-color, $landing-overlay-color)

$hello-stop-1: #fbdd97
$hello-stop-2: #d3fbfb
$hello-gradient: linear-gradient(to bottom, $hello-stop-1, $hello-stop-2)

.landing
  background: $landing-overlay, url(../images/landing-bg.jpg)
  height: 100vh
  background-repeat: no-repeat
  background-size: cover
  display: flex
  color: #fff
  position: relative

  &__hero
    +gt-mobile
      position: absolute
      top: 50%
      left: 5rem
      transform: translateY(-50%)
      width: 60%
      line-height: 1.5

    +mobile
      margin-top: $mobile-header-height + 16
      width: 100%
      line-height: 1.4
      padding-left: 20px

  &__human
    position: absolute
    width: auto
    height: 85%
    bottom: 0
    right: 0

    +mobile
      height: 45%

  &__cta
    margin-top: 1.75em

  &__description
    width: 80%
    margin-top: 1rem


  p
    margin: 0

  h2
    font-size: 3rem
    margin: 0

    +mobile
      font-size: 2rem

  h1
    background-image: $hello-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-repeat: no-repeat
    background-clip: text
    overflow: hidden
    font-size: 4rem
    margin-top: 0
    margin-bottom: 0
    font-weight: bold

    +mobile
      font-size: 3rem
