$landing-overlay-color: rgba(0,0,0,.3)
$landing-overlay: linear-gradient($landing-overlay-color, $landing-overlay-color)

.landing
  background: $landing-overlay, url(../images/landing-bg.jpg)
  height: 100vh
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  display: flex
  color: #fff

  &__hero
    margin: auto

  h1
    font-size: 4rem
    margin-bottom: 1rem
    font-weight: bold