.root
  margin: 3rem auto

  input[type="text"],
  input[type="email"],
  textarea
    border: 1px solid var(--body-fg)
    background: var(--surface-bg)
    color: var(--body-fg)
    font-size: inherit
    padding: .5em
    font-family: inherit
    width: 100%

  label
    margin-bottom: .25em
    font-weight: bold

  textarea
    display: block
    width: 100%

  button
    background: #0071EB
    color: white
    width: 100%
    height: 3rem
    font-size: inherit
    border: 0
    margin: 0

    &:hover
      background: #0060C7

.fieldGroup
  @media screen and (min-width: 800px)
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.5rem
