@import "tailwindcss";

@theme {
  --breakpoint-lg: 40rem;
  --breakpoint-xl: 48rem;
  --breakpoint-2xl: 50rem;

  --color-primary: var(--color-blue-600);
}

.content {
  pre.astro-code {
    @apply my-4 p-4 text-base whitespace-pre-wrap;
  }

  p {
    @apply my-2;
  }

  h2,
  h3 {
    @apply font-bold;
  }

  h2 {
    @apply mt-4 text-xl font-bold;
  }
}
