---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Get in touch!">
  <div class="content">
    <p>
      Just drop me a line at <a href="mailto:karol@moroz.dev">karol@moroz.dev</a
      > if you have any questions regarding my work.
    </p><p>
      My Github account: <a
        href="https://github.com/moroz"
        target="_blank"
        rel="noopener noreferrer">moroz</a
      >.
    </p>
  </div>
</Layout>
