---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Hello world!">
  <div class="content mx-auto">
    <p>
      My name is Karol Moroz. I am a software developer based in Kaohsiung,
      Taiwan. I mostly work with Elixir, Ruby on Rails, React, and Go.
    </p><p>
      This is my personal website, where I share my thoughts about software
      development, niche operating systems, and things I learn.
    </p>
  </div>
</Layout>
