<header class="flex h-16 items-center justify-between bg-blue-200">
  <div
    class="container mx-auto flex h-full items-center justify-between bg-blue-600"
  >
    <h1>moroz.dev</h1>
    <nav>
      <ul class="flex gap-2">
        <li>Home</li>
        <li>Blog</li>
        <li>Videos</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</header>
