<header
  class="text-primary b-unset fixed inset-0 flex h-16 items-center justify-between bg-white dark:bg-gray-800"
>
  <div class="container mx-auto flex h-full items-center justify-between">
    <a href="/">
      <h1 class="text-2xl font-bold">moroz.dev</h1>
    </a>
    <nav class="h-full">
      <ul class="flex h-full items-stretch">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  @reference "@css/global.css";

  a {
    @apply transition;
  }

  li {
    @apply h-full;
  }

  a {
    @apply inline-flex h-full items-center font-semibold;
  }

  nav a {
    @apply px-5;
  }

  h1 a {
    @apply p-0;
  }

  header:has(:hover) {
    a:not(:hover) {
      @apply text-gray-500 dark:text-gray-400;
    }
  }
</style>
