{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <section class="blog">
    {{ range .Pages }}
      <article>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <h2><a href="{{ .RelPermalink | strings.TrimSuffix "/" }}">{{ .LinkTitle }}</a></h2>
{{ if not .Truncated }}
  {{ .Summary }}
{{ end }}
      </article>
    {{ end }}
  </section>
{{ end }}
