$family-sans: system-ui, Verdana, sans-serif;
$primary: #33c;
$font-color: #333;
$container-width: 900px;

html,
body {
  font-size: 16px;
}

body {
  color: $font-color;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 16px;
  max-width: $container-width;
  overflow-x: hidden;
  font-size: 20px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  padding: 2rem;
  text-align: center;

  p {
    margin: 0;
  }
}

nav li {
  margin: 0.5em;
}

a {
  color: $primary;
  text-decoration: none;
}

.blog {
  article {
    margin-bottom: 24px;
  }

  time {
    color: #555;
  }

  h2 {
    margin: 4px 0 8px;
    line-height: 1.3;
  }
}

img {
  max-width: 0.9 * $container-width;
}

figure {
  text-align: center;

  img {
    max-height: 80vh;
  }
}

.bordered-figure {
  img {
    border: 1px solid #999;
  }
}

pre {
  font-size: 16px;
  overflow-x: auto;
  padding: 1em;
}

:not(pre)>code {}
