@use "./syntax.css";

$breakpoint-mobile: 420px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

$family-sans:
  Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  system-ui,
  PingFang TC,
  Hiragino Sans GB W3,
  Noto Sans CJK TC,
  Droid Sans Fallback,
  Microsoft Yahei,
  Microsoft JhengHei,
  \\534e\6587\7ec6\9ed1;
$primary: #33c;
$font-color: #333;
$container-width: 900px;
$font-monospace:
  Consolas,
  SFMono-Regular,
  Menlo,
  Monaco,
  liberation mono,
  courier new,
  monospace;
$header-height: 70px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

pre,
code {
  font-family: $font-monospace;
}

body {
  color: $font-color;
  font-family: $family-sans;
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main[role="main"] {
  margin: 0 auto;
  max-width: $container-width;
  flex: 1;

  @media (max-width: #{$container-width}) {
    max-width: 100%;
    width: 100%;
  }
}

main[role="main"],
header {
  padding-left: 1rem;
  padding-right: 1rem;
}

header,
footer {
  text-align: center;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: $header-height;
  line-height: $header-height;

  @include mobile {
    flex-direction: column;
    line-height: 0.8 * $header-height;
  }

  h1 {
    margin: 0;
  }

  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    margin-left: auto;

    @include mobile {
      margin-left: 0;
      width: 100%;

      ul {
        justify-content: space-between;
      }

      li {
        flex: 1;
      }
    }

    li,
    li a {
      display: block;
    }

    li a {
      padding: 0 0.5em;
      height: $header-height;

      @include mobile {
        height: 0.8 * $header-height;
      }
    }
  }
}

footer {
  border-top: 1px solid #222;
  padding: 2rem;
  text-align: center;

  p {
    margin: 0;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

.blog {
  article {
    margin-bottom: 2rem;
  }

  time {
    color: #555;
  }

  time + h2 {
    margin-top: 4px;
  }

  h2 {
    margin: 8px 0;
    line-height: 1.3;
  }

  main {
    margin: 2rem 0;

    h2 {
      margin-top: 2rem;
    }
  }
}

h2.post-title {
  margin-top: 1rem;
}

figure {
  text-align: center;

  img {
    max-width: 90%;
    max-height: 80vh;
  }
}

.bordered-figure {
  img {
    border: 1px solid #999;
  }
}

.highlight {
  width: 100%;
  overflow-x: auto;
  -webkit-text-size-adjust: 100%;
}

.pagination {
  display: flex;
  gap: 0.33rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding-left: 0;
  flex-wrap: wrap;

  li,
  li a {
    display: flex;
  }

  li a {
    padding: 0.33rem 0.66rem;
    border: 1px solid;
  }
}

.page-item.active a {
  background: $primary;
  border-color: $primary;
  color: white;
}

.summary {
  margin-top: 1rem;

  h3,
  p {
    margin: 0;
  }
}
