@import "./vars";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}

pre,
code {
  font-family: $font-monospace;
}

pre {
  border: 1px solid var(--primary);
  padding: 0.5em 0.75em;
  font-size: 0.875em;
  white-space: pre-wrap;
  margin: 0;
}

:root {
  --base-fg: #333;
  --base-bg: #fff;
  --primary: #{$tw-rose-600};
  --text-dimmed: #555;
}

@include dark {
  :root {
    --base-fg: #fff;
    --base-bg: #{$tw-gray-800};
    --primary: #{$tw-rose-500};
    --text-dimmed: #{$tw-slate-400};
  }
}

body {
  color: var(--base-fg);
  background: var(--base-bg);
  font-family: $family-sans;
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

.container {
  margin-inline: auto;
  width: $container-width;

  @media (max-width: #{$container-width}) {
    max-width: 100%;
    width: 100%;
    padding-inline: 1rem;
  }
}

header {
  border-bottom: 1px solid var(--primary);
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: $header-height;
  line-height: $header-height;

  @include mobile {
    flex-direction: column;
    line-height: 0.8 * $header-height;
    padding: 0;
  }

  h1 {
    margin: 0;
  }

  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    margin-left: auto;

    @include mobile {
      margin-left: 0;
      width: 100%;

      li {
        flex: 1;
      }
    }

    li,
    li a {
      display: block;
    }

    li a {
      padding: 0 0.5em;
      height: $header-height;

      @include mobile {
        height: 0.8 * $header-height;
      }
    }
  }
}

footer {
  border-top: 1px solid var(--primary);
  padding-block: 1.5rem;

  p {
    margin: 0;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
}

.blog,
.videos {
  article {
    margin-bottom: 2rem;
  }

  time {
    color: var(--text-dimmed);
  }

  time + h2 {
    margin-top: 4px;
  }

  article h2 {
    margin: 8px 0;
    line-height: 1.3;
  }

  main {
    margin: 2rem 0;

    h2 {
      margin-top: 2rem;
    }
  }
}

h2.post-title {
  margin-top: 1rem;
}

figure {
  text-align: center;

  img {
    max-width: 90%;
    max-height: 80vh;
  }
}

.bordered-figure {
  img {
    border: 1px solid #999;
  }
}

.thumbnail {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1280/720;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.videos article {
  margin-bottom: 3.5rem;
  color: inherit;
}

.highlight {
  width: 100%;
  overflow-x: auto;
  -webkit-text-size-adjust: 100%;
}

.pagination {
  display: flex;
  gap: 0.33rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding-left: 0;
  flex-wrap: wrap;

  li,
  li a {
    display: flex;
  }

  li a {
    padding: 0.33rem 0.66rem;
    border: 1px solid;
  }
}

.page-item.active a {
  background: var(--primary);
  border-color: var(--primary);
  color: white;
}

.summary {
  margin-top: 1rem;

  h3,
  p {
    margin: 0;
  }
}
