---
import "@fontsource-variable/merriweather-sans/wght.css";
import RootLayout from "@layouts/RootLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<RootLayout {title}>
  <main class="flex-1 py-16">
    <div class="mobile:px-4">
      <h2
        class="container mx-auto mt-6 mb-4 max-w-180 text-center text-2xl leading-tight font-bold xl:mt-10 xl:text-4xl"
      >
        {title}
      </h2>
      <slot />
    </div>
  </main>
</RootLayout>
