---
import "../styles/global.css";
import Header from "@components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="container mx-auto">
        <slot />
      </div>
    </main>
    <footer>&copy; 2020&ndash;2025 by Karol Moroz.</footer>
  </body>
</html>

<style>
  @reference "@css/global.css";

  body {
    @apply flex min-h-screen flex-col;
  }

  main {
    @apply flex-1;
  }

  footer {
    @apply grid h-20 place-items-center bg-[salmon] text-center;
  }
</style>
